echo "# special-palm-tree" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/SAMI11000/special-palm-tree.git
git push -u origin main
